@import url('./bootstrap-grid.min.css');
@import url('./bootstrap-reboot.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
	background-color: #F6F7F6;
	font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.filterItems {
	margin: 20px;
	text-align: center;
}

.filterItems {
  width: 100%;
  margin: 0 auto;
  background: #F6F7F6;
  position: relative;
  height: 48px;
}
.filterItems label {
  width: 33.3%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #333;
  float: left;
  cursor: pointer;
}
.filterItems input[type=radio] {
  display: none;
}
.filterItems input[type=radio]:checked + label {
  color: #f90;
}
.filterItems input[type=radio]:checked ~ div {
  width: auto;
}
.filterItems input[type=radio]#w:checked ~ .border {
  left: 0;
  right: 66.66%;
}
.filterItems input[type=radio]#a:checked ~ .border {
  left: 33.33%;
  right: 33.33%;
}
.filterItems input[type=radio]#f:checked ~ .border {
  left: 66.66%;
  right: 0;
}
.filterItems .border {
  position: absolute;
  height: 2px;
  background-color: #f90;
  bottom: 0;
  left: 0;
  width: 33.3%;
  -webkit-transition: left 0.5s ease-out, right 0.4s ease;
  -moz-transition: left 0.5s ease-out, right 0.4s ease;
  -o-transition: left 0.5s ease-out, right 0.4s ease;
  transition: left 0.5s ease-out, right 0.4s ease;
}